$color-main: #4e4963;
$color-main2: #797199;
$color-second: #a8a4b9;
$color-dark2: #191622;
$color-bg: #f7f6f7;
$color-line: #e0ddec;
$color-line2: #efeef5;
$color-blue: #0d71d7;
$color-blue-hover: #0f7ff2;
